!!!
%html
  %head
    %title Leaderbeerd Stats
  
  %body
    %h1 Leaderbeerd Stats
    
    %fieldset
      %legend Untappd
      %h3 Rate Limit
      %ul
        %li Limit #{@rate_limit.limit}
        %li Remaining #{@rate_limit.remaining}
        
    %fieldset
      %legend SimpleDB
      %h3 Beers over last week
      
      %ul
      - @data.each_pair do |username, stats|
        %li 
          #{username} 
          %ul
            %li Count - #{stats[:count]}
            - recent_checkin = stats[:recent_checkin]
            %li 
              Last beer - 
              #{recent_checkin.beer_name} -
              %img{:src=> recent_checkin.beer_label_url } 
        
        
