.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      %a.brand{:href => "/"} 
        %img.logo{:src => "//assets.leaderbeerd.com/images/logo.png"}
        Leaderbeerd

.checkin_list
  #checkin_list
    .filters.checkin
      %ul.nav.nav-pills.nav-stacked
        %li.nav-header Filters
        - @filters.each_pair do |name, values|
          - Array(values).each do |val|
            %li
              %a{:href => ""} #{name} - #{val}
        
    - @checkins.each do |checkin|
      .checkin.well
        .capped.tooltip_trigger{:class => case checkin.rating when 0..2 then "bad"; when 3 then "ok"; end, "data-title" => "#{checkin.rating}/5"}
        - if checkin.toast_count > 0
          .toasted.tooltip_trigger{"data-title" => "Toasted"}
        - unless checkin.venue_id.nil?
          .venued.tooltip_trigger{"data-title" => checkin.venue_name }
        %h5= checkin.beer_name
        .clear
        
        %img.beer_label.img-rounded{:src => checkin.beer_label_url}
        .username.btn.btn-mini= checkin.username
        .date.btn.btn-mini= Time.at(checkin.timestamp).strftime('%D')
        - unless checkin.checkin_comment.nil?
          .comment
            = checkin.checkin_comment
        
        
%script{:type => "text/javascript", :src => "/javascripts/jquery.masonry.min.js"}
:javascript
  $(function(){
    var container = $('#checkin_list');
    container.imagesLoaded(function() {
      container.masonry({
        // options
        itemSelector : '.checkin',
        columnWidth : 240,
        isAnimated: true,
        cornerStampSelector: '.filters'
      });
    });
    
    $(".tooltip_trigger").tooltip();
  });
